body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

img.logo {
  width:200px;
  padding:30px 0;
}

h1 {
  font-weight:bold;
}

h2 {
  font-weight: 500;
}

footer .columns {
    border-top:solid 1px #ccc;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 90%;
    padding-left:0;
}